.git-icon {
    color: #F1502F;
}

.md-banner {
    color: var(--md-footer-fg-color--lighter);
}

.md-banner strong {
    color: var(--md-footer-fg-color);
}

.md-typeset .mastodon {
    color: #897ff8;
}

.md-typeset .twitter {
    color: #00acee;
}

.md-typeset a:hover>span * {
    filter: brightness(85%);
}

.new-feature {
    color: #006C39;
}
